*{
    margin: 0;
    border: 0;
    box-sizing: 0;
}

body{
    color: white;
    height: 100vh;
    display: grid;
    background-image: url(./img/background.png);
    grid-template-rows: 100px 1fr 50px;    
    background-repeat: no-repeat;
    background-size: cover;
}   

.logo{
    display: flex;
    position: absolute;
    width: 70%;
    gap: 40px;
    padding: 70px;
}

.logo_icon{
    position: absolute;
    top: 20%;
    left: 11%;
    transform: translate(-30%, -10%);
    margin-right: 100px;
    margin-top: 40px;
    padding: 70px;
}


.description_title{
    color: white;
    position: absolute;
    width: 450px;
    margin-top: 400px;
    font-size: 20px;
    padding: 70px;
}

.rodape{
    display: flex;
    justify-content: left;
    align-items: end;
    gap: 45px;
    padding: 70px;
}





